<%- model_class = Dog -%>
<div class="page-header">
  <div class="row">
    <div class="col-sm-3">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    </div>
    <div class="col-sm-2 col-sm-offset-7">
      <%= link_to "Novo cachorro", new_dog_path, :class => 'btn btn-primary' %>
    </div>
  </div>

  
</div>
<br>
<%= search_form_for @q, class: "form-inline" do |f| %>

  <div class="form-group">
  <%= f.label :name %>
  <%= f.search_field :name_cont, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :race %>
  <%= f.search_field :race_cont, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :name_owner %>
  <%= f.search_field :name_owner_cont, class: "form-control" %>
  </div>
  <%= f.submit "Buscar",class: "btn btn-success"%>
<% end %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name( :id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:race) %></th>
      <th><%= model_class.human_attribute_name(:name_owner) %></th>
      <th><%= sort_link(@q, :gender) %></th>
      <th><%= sort_link(@q, :castrated) %></th>
      <th><%= sort_link(@q, :birthday) %></th>
      <th><%= sort_link(@q, :updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= link_to dog.id, dog_path(dog) %></td>
        <td><%= dog.name %></td>
        <td><%= dog.race %></td>
        
        <td><%= dog.name_owner %></td>        
        <td><%= dog.gender %></td>
        <td><%= dog.castrated ?  "Sim" : "Não"%></td>
        <td><%= dog.birthday.strftime("%d/%m/%Y") %></td>
        <td><%= dog.updated_at.strftime("%d/%m/%Y, %H:%M") %></td>
        <td>
          <%= link_to dog_path(dog), :class => 'btn btn-info btn-xs' do %>
            <i class="fa fa-eye fa-fw"></i>
          <% end %>
          <%= link_to edit_dog_path(dog), :class => 'btn btn-warning btn-xs' do %>
            <i class="fa fa-edit fa-fw"></i> 
          <% end %>
          <%= link_to dog_path(dog),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' do %>
                      <i class="fa fa-remove fa-fw"></i>
          <% end %>
          <%= link_to new_update_path(dog),:class => 'btn btn-success btn-xs' do %>
           <i class="fa fa-paw fa-fw"></i> Nova entrada
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @dogs, renderer: BootstrapPagination::Rails %>


